.wholefoods-details {
  list-style: none;
}

.noResultsToast {
  border: 1px solid lawngreen;
}

.score-circle {
  stroke: #52c7e9;
  transition: stroke-dashoffset 1s ease-out;
}

.score-empty {
  //stroke: #a1a1a1;
}

.score-text {
  fill: #ffffff;
  font: bold 4rem "Poppins", Helvetica, Arial, sans-serif;
}

.score-text-name {
  fill: #ffffff;
  font: bold 2rem "Poppins", Helvetica, Arial, sans-serif;
}

.score-desc-text, .score-bike-desc-text {
  fill: #cacaca7d;;
  font: bold 2rem "Poppins", Helvetica, Arial, sans-serif;
}

.scores-container {
  display: flex;
  //flex-flow: column nowrap;
  //width: 100vw;
  //height: 100vh;
  justify-content: center;
  align-items: center;
}

.score {
  width: 30vmin;
  height: 30vmin;
}

.bike-score {
  width: 30vmin;
  height: 30vmin;
}

.svg-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-svg {
  transform: rotate(-90deg);
  width: 22vmin;
  height: 28vmin;
}

polygon {
  fill: #4ce915;
}

line {
  stroke: #4ce915;
}

.median-text {
  fill: #ffffff;
  font: bold 3rem "Poppins", Helvetica, Arial, sans-serif;
}

.median-text-btm {
  font: bold 3rem "Poppins", Helvetica, Arial, sans-serif;
  fill: #636363;
  transform: rotate(90deg);
}

.median-text-negative {
  font: bold 3rem "Poppins", Helvetica, Arial, sans-serif;
  fill: #636363;
  transform: rotate(270deg) translate(-78%,31%);
}

.arrow-container {
  display: none;
}

//svg text {
//  font-family: FontAwesome;
//}



.userInputCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .card {
    height: auto;
    text-align: center;
    margin: auto;
    max-width: 400px;
    min-width: 400px;
  }

  .card img {
    height: auto;
    object-fit: cover;
    object-position: center;
    max-width: 400px;
  }

  .card .card-action {
    border-radius: 0 0 2px 2px;
    flex-direction: row;
    display: inline-flex;
    padding: 0;
    margin: 0;
  }

  .card .card-content .card-title i {
    line-height: 32px;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}

@media (min-width: 601px) {
  .card {
    width: 33%;
    max-width: 400px;
    object-fit: cover;
    object-position: bottom;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px;
  }

  .card img {
    height: 100px;
    max-width: 400px;
    object-fit: cover;
    object-position: center;
  }

  .card .card-action {
    border-radius: 0 0 2px 2px;
    flex-direction: row;
    display: inline-flex;
    padding: 0;
    margin: 0;
  }

  .card-website-directions {
    font-size: 1.2vw;
  }

  .card .card-content .card-title i {
    line-height: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


@media (min-width: 901px) {
  .card {
    width: 25%;
    max-width: 400px;
    object-fit: cover;
    object-position: bottom;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px;
  }

  .card img {
    height: 100px;
    max-width: 400px;
    object-fit: cover;
    object-position: center;
  }

  .card .card-action {
    border-radius: 0 0 2px 2px;
    flex-direction: row;
    display: inline-flex;
    padding: 0;
    margin: 0;
  }

  .card-website-directions {
    font-size: 1.2vw;
  }

  .card .card-content .card-title i {
    line-height: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.card .card-title {
  font-size: calc(0.75em + 1vmin);
  font-weight: 300;
}

.close-card {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
}

.close-card:hover {
  color: red;
}

.card .card-image img {
  border: 1px solid white;
  padding: 5px;
}

span.userBusinessFavorite {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  color: #52c7e9;
  cursor: pointer;
}