.dashboard-title {
  border-bottom: 1px solid white;
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
  0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
  0 0 40px #A5F1FF;
}

.dashboard-main-title {
  font-size: 2rem;
  /* line-height: 0; */
  margin: 2.8rem 0 1.68rem 0;
  border-bottom: 1px solid white;
}

.dashboard-list {
  list-style-type: none;
}

@media only screen and (min-width: 993px) {
  .dashboard-header {
    //display: inline-flex;
    //background-color: #363b41;
    //box-shadow: 0 .25em .25em -.125em rgba(0, 0, 0, .25), 0 .5em 1.25em rgba(0, 0, 0, .5);
    //position: fixed;
    //top: 0;
    //height: 5rem;
    //justify-content: space-between;
    //width: 100vw;
    //z-index: 1000;
  }
}

.dashboard-remove-item {
  color: red;
  cursor: pointer;
}

.dashboard-toast {
  //color: red;
  border: 1px solid #ff1533;
}

.dashboard-admin-modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  background: #212121;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid white;
  padding: 8px;
  border-radius: 8px;
  overflow-y: scroll;
  height: 50%;
  margin: 50px auto 100px;
  max-width: 600px;
}

@media only screen and (max-width: 600px) {
  .dashboard-admin-modal {
    width: 365px;
  }

  //.dashboard-remove-item:hover {
  //  transition: all .2s ease-in-out;
  //  transform: scale(1.1);
  //}
}

@media only screen and (min-width: 601px) {
  .dashboard-remove-item:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
}

.close-admin-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}

.close-admin-button:hover {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #039be5;
}

.closed-admin-modal {
  display: none;
}

.dashboard-admin-display-user-email:hover {
  color: lightgreen;
  cursor: pointer;
  border: 1px solid #c12727;
  padding: 5px;
  background-color: #ff656538;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table caption {
  font-size: 1.5em;
  //margin: .5em 0 .75em;
}

.table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.table th,
.table td {
  padding: .625em;
  text-align: center;
}

.table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }

  .table caption {
    font-size: 1.3em;
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}

@media only screen and (min-width: 600px) {
  /* Tooltip container */
  .tooltipdashboard {
    position: relative;
    //display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    cursor: help;
  }

  /* Tooltip text */
  .tooltipdashboard .tooltiptextdashboard {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #0b9be5;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipdashboard:hover .tooltiptextdashboard {
    visibility: visible;
  }

  .tooltipdashboard .tooltiptextdashboard {
    top: -5px;
    right: 80%;
  }

  .tooltipdashboard .tooltiptextdashboard::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #0b9be5;
  }
}